---
const { logo, dates, role, company, description } = Astro.props;
---

{/* Adjusted left padding to pl-14 */}
<div class="relative flex flex-col justify-start pl-14">
  {/* Intermediate circle size: w-16 h-16 */}
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-neutral-950 w-20 h-20 border-neutral-300 dark:border-neutral-700"
  >
    {/* Image size kept at w-12 h-12 */}
    <img src={logo} alt={company} class="w-12 h-12" />
  </div>

  <p
    class="text-xs uppercase text-neutral-400 dark:text-neutral-500 trackign-widest"
  >
    {dates}
  </p>
  <h3 class="my-1 text-lg font-bold dark:text-neutral-100">{role}</h3>
  <p class="mb-1 text-sm font-medium dark:text-neutral-300">{company}</p>
  <p class="text-sm font-light text-neutral-600 dark:text-neutral-400">
    {description}
  </p>
</div>
